<h1>Register</h1>
<form (ngSubmit)="submit(registerForm)" #registerForm="ngForm" >

      <div class="form-group">
          <label for="name">name</label>
          <input required name="name" id="name"  #name="ngModel" [(ngModel)]="service.user.name" class="form-control" type="text">
      </div>
      <div class="form-group">
          <label for="email">email</label>
          <input required name="email" id="email" #email="ngModel" [(ngModel)]="service.user.email"  class="form-control" type="text">
      </div>
     
      <div class="form-group">
          <label for="password">password</label>
          <input required name="password" id="password"  #password="ngModel" [(ngModel)]="service.user.password" class="form-control" type="password">
      </div>

      <div *ngIf="invlidRegister" class="alert alert-danger" role="alert">
        {{errorRegisterMessage}}
      </div>
      
  <button class="btn btn-primary">submit</button>

  <a [routerLink]="['/']" class="btn btn-link">Have Account ? Login</a>
</form>
